<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767808545840-77hk723dkdusj3i40ggfvvab3inphki3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767808545840-77hk723dkdusj3i40ggfvvab3inphki3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxjwdsMMlC2hZj8eiSgfDQHwI6N-JhUG8</string>
	<key>GCM_SENDER_ID</key>
	<string>767808545840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wi-seong.SejongsAirplane</string>
	<key>PROJECT_ID</key>
	<string>sejong-airplane</string>
	<key>STORAGE_BUCKET</key>
	<string>sejong-airplane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767808545840:ios:626f5598e15e9c664bf9f5</string>
</dict>
</plist>