<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745167700057-dmhof8k6fb3t6caopqlltf8i7sip27ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745167700057-dmhof8k6fb3t6caopqlltf8i7sip27ps</string>
	<key>API_KEY</key>
	<string>AIzaSyCXNcaMOLAYFVa2_toltt_vrUEc8YqXG0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>745167700057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wi-seong.SejongsAirplane</string>
	<key>PROJECT_ID</key>
	<string>paperairplane-4127e</string>
	<key>STORAGE_BUCKET</key>
	<string>paperairplane-4127e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745167700057:ios:1369b09e1f1fe55b69b148</string>
</dict>
</plist>